<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^data" ignoreCase="false" />
                    <action type="Redirect" url="error404" redirectType="Temporary" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^classes" ignoreCase="false" />
                    <action type="Redirect" url="error404" redirectType="Temporary" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^([-a-z0-9_./=]+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?route={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
                <add name="Access-Control-Allow-Headers" value="content-type" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>